In [156]:
import pandas as pd
import numpy as np
import re

In [45]:
df = pd.read_csv("Salaries.csv",low_memory=False)
# Check and display the head of the DataFrame.
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [30]:
# Use the .info() method to find out how many entries there are.
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Columns: 13 entries, Id to Status
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [61]:
# What is the average of first 10000 items in BasePay ?
df2= df.head(10000)
df3 = df2["BasePay"].astype(float)
df3.mean()

112236.757339

In [109]:
# What is the highest amount of TotalPayBenefits in the dataset ?
df["TotalPayBenefits"].max()

567595.43

In [175]:
# What is the job title of JOSEPH DRISCOLL ?
df6 = df2.loc[df2["EmployeeName"] == 'JOSEPH DRISCOLL']
df6["JobTitle"].values[0]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [174]:
# How much does JOSEPH DRISCOLL make (including benefits)?
df6["TotalPayBenefits"].values[0]

270324.91

In [96]:
# What is the name of highest paid person (including benefits)?

df7 = df2.loc[df2["TotalPayBenefits"] == 567595.43]
df7["EmployeeName"].values[0]

'NATHANIEL FORD'

In [111]:
# What is the name of lowest paid person (including benefits)? Do you notice something
# strange about how much he or she is paid?
x = df["TotalPayBenefits"].min()
df8 = df.loc[df["TotalPayBenefits"] == x]
df8["EmployeeName"].values[0]

'Joe Lopez'

In [112]:
df8["TotalPayBenefits"].values[0]

-618.13

In [177]:
# What was the average (mean) TotalPay of all employees per year? (2011-2014) ?
df9 = df.groupby("Year").mean("TotalPay")
df9

            Id      TotalPay  TotalPayBenefits  Notes
Year
2011   18080.0  71744.103871      71744.103871    NaN
2012   54542.5  74113.262265     100553.229232    NaN
2013   91728.5  77611.443142     101440.519714    NaN
2014  129593.0  75463.918140     100250.918884    NaN

In [119]:
# How many unique job titles are there?
df10 = df["JobTitle"]
df11 = df10.nunique()
df11

2159

In [151]:
# What are the top 7 most common jobs?
df10 = df["JobTitle"]
df12 =df10.value_counts()
df12.sort_values(ascending=False).head(7)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Name: JobTitle, dtype: int64

In [259]:
# How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with
# only one occurence in 2013?)
df16 = df.loc[df["Year"] == 2013]

df17= df16.groupby("JobTitle").agg("count")
df17

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
ASR Senior Office Specialist,21,21,21,21,21,21,21,21,21,0,21,0
ASR-Office Assistant,15,15,15,15,15,15,15,15,15,0,15,0
Account Clerk,90,90,87,90,90,90,90,90,90,0,90,0
Accountant I,3,3,3,3,3,3,3,3,3,0,3,0
Accountant II,77,77,77,77,77,77,77,77,77,0,77,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Wire Rope Cable Maint Sprv,1,1,1,1,1,1,1,1,1,0,1,0
Worker's Comp Supervisor 1,3,3,3,3,3,3,3,3,3,0,3,0
Worker's Compensation Adjuster,25,25,25,25,25,25,25,25,25,0,25,0
X-Ray Laboratory Aide,34,34,34,34,34,34,34,34,34,0,34,0
Youth Comm Advisor,2,2,2,2,2,2,2,2,2,0,2,0

In [227]:
# How many people have the word Chief in their job title? (This is pretty tricky)
df13 = df[df['JobTitle'].str.match('.*Chief.*')== True]
df14 = df13[["EmployeeName","JobTitle"]]
df14["EmployeeName"].nunique()

313

In [154]:
# Is there a correlation between length of the Job Title string and Salary?

In [ ]:
# NO